.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}

.stage-direction{
    font-family: 'Courier New', monospace;
    font-size: 18px;
    color: black;
    background-color: rgb(255, 255, 84);
}

.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.stage-direction:hover{
    background-color: rgb(98, 177, 190);
    color: rgba(75,0,130);
}

.ALGERNON{
    color: rgb(179, 50, 32);
}

.LANE{
    color: rgb(24, 192, 61);
}

table{
    border:1px solid black;
    padding: 45px 30px 50px;
    margin: 25px 50px 75px 100px;
    width:50%;
}
th{
    color: black;
    border: 1px solid black;
    text-align: center;
    background-color:greenyellow;
}
td{
    color:rgb(70, 51, 153);
    border: 1px solid black;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(222, 135, 215);
}

.name:hover{
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.822);
    color:rgb(0, 195, 255);
    filter: blur(3px);
    border: solid 2px rgb(220, 220, 220);
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color: darkviolet;
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
    color: rgba(255, 255, 240, 0.911);
}
ul.navbar-horizontal a:hover {
    background-color: darkslateblue;
    color:yellowgreen;
}